<mat-toolbar [routerLink]="['/dashboard']" color="primary">
    <mat-toolbar-row>
        <span class="c_display_title" >
            {{ title }}
        </span>

        <span class="example-spacer"></span>

        <button class="c_display_menu" mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/dashboard']" > Dashboard </button>
        <button mat-menu-item [routerLink]="['/kindergarten1']" > Waldorfkindergarten </button>
        <button mat-menu-item [routerLink]="['/kindergarten2']" > Kindergarten der Stadt Wien 1 </button>
        <button mat-menu-item [routerLink]="['/kindergarten3']" > Kindergarten der Stadt Wien 2 </button>
        <button mat-menu-item [routerLink]="['/kindergarten4']" > Montessori Kinderhaus </button>
        <button mat-menu-item [routerLink]="['/kindergarten5']" > Kindergarten der Karl Schubert Schule </button>
        </mat-menu>

    </mat-toolbar-row>

</mat-toolbar>

<span>
        <img class="c_img" src={{imagePath}}>&nbsp;&nbsp; 
</span>
