<body>
    
    <section id="home">
        <h1>Waldorfkindergarten im Zentrum Wiens</h1>

        <div class="team-members">
        <p>Der Waldorfkindergarten im Zentrum Wiens bietet eine liebevolle Umgebung für Kinder, um zu lernen und zu wachsen.</p>
        
        </div>
        
        <img class="c_img" src={{imageBuilding1a}}>

    </section>


   
    <section id="about">
        <h2>Über uns</h2>
        <div class="team-members">
            <div class="team-member">
                <h3><b>Laura Wieß</b></h3>
                <img src={{imagePaed1}} alt="Pädagoge 1">
                <p>Laura Weiß ist das Herzstück unseres Teams. Mit ihrer warmen Ausstrahlung schafft sie eine liebevolle Umgebung, in der jedes Kind sich geborgen fühlt und sein Potenzial entfalten kann. Laura, mit fundierter Ausbildung in frühkindlicher Pädagogik, setzt ihr Wissen leidenschaftlich ein, um die ganzheitliche Entwicklung der Kinder zu fördern. Ihre kreativen Ideen tragen dazu bei, dass jeder Tag im Kindergarten zu einem Abenteuer des Lernens und Entdeckens wird. Wir sind stolz auf Laura Weiß in unserem Team und freuen uns darauf, gemeinsam mit ihr eine inspirierende Umgebung für Ihre Kinder zu schaffen.</p>
            </div>
            <div class="team-member">
                <h3><b>Veronika Schwarz</b></h3>
                <img src={{imagePaed2}} alt="Pädagoge 1">
                <p>Veronika Schwarz ist eine herausragende Persönlichkeit in unserem Team. Durch ihre herzliche Art schafft sie eine liebevolle Umgebung, in der jedes Kind sich geborgen fühlt und sein Potenzial entfalten kann. Veronika, mit einer fundierten Ausbildung im Bereich der frühkindlichen Pädagogik, setzt ihr Wissen mit Hingabe ein, um die ganzheitliche Entwicklung der Kinder zu fördern. Ihre innovativen Ideen bereichern den Kindergartenalltag und machen ihn zu einem fortwährenden Abenteuer des Lernens und Entdeckens. Wir sind stolz, Veronika Schwarz in unserem Team zu haben und freuen uns darauf, gemeinsam mit ihr eine inspirierende Umgebung für Ihre Kinder zu gestalten.</p>
            </div>
            <div class="team-member">
                <h3><b>Linda Klug</b></h3>
                <img src={{imagePaed3}} alt="Pädagoge 1">
                <p>Linda Klug ist eine engagierte Pädagogin und wertvolles Mitglied unseres Teams. Linda schafft mit ihrer einfühlsamen Art eine liebevolle Umgebung, in der jedes Kind sich geborgen fühlt und sein Potenzial entfalten kann. Mit einer soliden Ausbildung im Bereich der frühkindlichen Pädagogik setzt Linda ihr Fachwissen leidenschaftlich ein, um die ganzheitliche Entwicklung der Kinder zu fördern. Ihre kreativen Ansätze tragen dazu bei, dass jeder Tag im Kindergarten zu einem spannenden Abenteuer des Lernens und Entdeckens wird. Wir sind stolz darauf, Linda Klug in unserem Team zu haben und freuen uns darauf, gemeinsam mit ihr eine inspirierende Umgebung für Ihre Kinder zu schaffen.</p>
            </div>
            <div class="team-member">
                <h3><b>Manuela Lieb</b></h3>
                <img src={{imagePaed4}} alt="Pädagoge 1">
                <p>Manuela Lieb ist eine engagierte Pädagogin, die unser Team bereichert. Manuela schafft mit ihrer warmen Persönlichkeit eine liebevolle Umgebung, in der jedes Kind sich geborgen fühlt und sein individuelles Potenzial entfalten kann. Dank ihrer fundierten Ausbildung im Bereich der frühkindlichen Pädagogik setzt Manuela ihr Wissen mit Herzblut ein, um die ganzheitliche Entwicklung der Kinder zu fördern. Ihre einfallsreichen Ideen tragen dazu bei, dass jeder Tag im Kindergarten zu einem aufregenden Abenteuer des Lernens und Entdeckens wird. Wir sind stolz darauf, Manuela Lieb in unserem Team zu haben, und freuen uns darauf, gemeinsam mit ihr eine inspirierende Umgebung für Ihre Kinder zu gestalten.</p>
            </div>
        </div>
    </section>

    <section id="gruppen">
        <h2>Gruppen</h2>
        <div class="team-members">
            <div class="team-member">
                <h3><b> Krabbelgruppe </b></h3>
                <img src={{imageLogo1}} alt="Logo 1">
                <p>Unsere Krabbelgruppe ist ein einladender Ort, der sich ganz den Bedürfnissen und der Entwicklung der Kleinsten widmet. Hier erleben die Kinder ihre ersten sozialen Kontakte und entdecken spielerisch die Welt um sich herum. Geleitet von einfühlsamen und qualifizierten Betreuerinnen schaffen wir eine sichere Umgebung, in der die Kleinen geborgen aufwachsen können. Durch altersgerechte Aktivitäten und liebevolle Betreuung fördern wir die spielerische Entfaltung ihrer Fähigkeiten. Wir sind stolz darauf, eine fröhliche und unterstützende Gemeinschaft für die Jüngsten zu bieten, in der sie liebevoll betreut werden und ihre ersten Schritte in Richtung Selbstständigkeit machen können. Willkommen in unserer Krabbelgruppe, wo jedes Kind im Mittelpunkt steht!</p>
            </div>
            <div class="team-member">
                <h3><b> Mäusegruppe </b></h3>
                <img src={{imageLogo2}} alt="Logo 2">
                <p>Unsere Mäusegruppe ist ein lebendiger Raum, der speziell darauf ausgerichtet ist, die neugierigen Köpfe und quirligen Energien der Kinder im Vorschulalter zu fördern. Unter der einfühlsamen Leitung unserer qualifizierten Betreuerinnen erleben die Kinder in der Mäusegruppe spannende Lernabenteuer und entwickeln erste soziale Fähigkeiten. Die Atmosphäre ist geprägt von Liebe, Fürsorge und kreativen Aktivitäten, die die individuellen Talente der kleinen Mäuse entfalten. In unserer Mäusegruppe schaffen wir eine unterstützende Gemeinschaft, in der jedes Kind ermutigt wird, seine Persönlichkeit zu entdecken und sich in seinem eigenen Tempo zu entwickeln. Willkommen in unserer Mäusegruppe, wo jedes Kind einzigartig ist und seine ersten Schritte in der Welt des Lernens macht!</p>
            </div>
            <div class="team-member">
                <h3><b> Zwergengruppe </b></h3>
                <img src={{imageLogo3}} alt="Logo 3">
                <p>Unsere Zwergengruppe ist ein bezaubernder Ort, der darauf ausgerichtet ist, die Phantasie und die individuelle Persönlichkeit der Kinder im Kindergartenalter zu entfalten. Unter der fürsorglichen Leitung unserer qualifizierten Betreuerinnen erleben die Kinder in der Zwergengruppe aufregende Entdeckungsreisen und entwickeln wichtige soziale Fertigkeiten. Hier inmitten von spielerischen Aktivitäten, gemeinsamen Abenteuern und kreativen Impulsen, schaffen wir eine liebevolle Gemeinschaft, in der jedes Kind ermutigt wird, seine Einzigartigkeit zu zeigen und sich in seiner eigenen Geschwindigkeit zu entwickeln. Willkommen in unserer Zwergengruppe, wo jeder Tag voller Freude und spannender Lernerlebnisse steckt!</p>
            </div>
            <div class="team-member">
                <h3><b>Wichtelgruppe</b></h3>
                <img src={{imageLogo4}} alt="Logo 4">
                <p>Unsere Wichtelgruppe ist ein begeisternder Raum, in dem Kinder im Kindergartenalter ihre ersten Schritte in die Welt der Bildung und sozialen Interaktion machen. Unter der liebevollen Leitung unserer qualifizierten Betreuerinnen erleben die Kinder in der Wichtelgruppe spielerische Lernabenteuer und entwickeln dabei wichtige soziale Kompetenzen. Hier fördern wir die Kreativität der kleinen Wichtel durch fantasievolle Aktivitäten und schaffen eine unterstützende Gemeinschaft, in der jedes Kind ermutigt wird, seine Persönlichkeit zu entfalten und sich in einem sicheren Umfeld zu entwickeln. Willkommen in unserer Wichtelgruppe, wo jedes Kind einzigartig ist und die Grundlagen für eine lebenslange Freude am Lernen gelegt werden!</p>
            </div>
        </div>
    </section>

    <section id="contact">
        <h2>Kontakt</h2>
        <div class="contact-info">
            <h3>Dr. Max Musterchef, Geschäftsführer</h3>
            <h3>Adresse: Oleandergasse 21, 1220 Wien</h3>
            <h3>Telefon: (123) 456-7890</h3>
            <h3>E-Mail: info@waldorfkindergarten.de</h3>
        </div>
    </section>

</body>

